body{
    /* text-align: center; */
    background-color: rgb(220, 214, 206);
}

header{
    text-align: center;
}

h2,h3{
    text-align: center;
}

h3{
    color: red;
}

/* tables */

.subheading{
    background-color: aqua;
}

.table{
    border: 2px solid black;
    margin: 0 16% 16% 16%;
}

td,th{
    border: 1px solid ;
    padding: 10px 10px;
   
}

/* tags */

span{
    background-color: antiquewhite;
}